.track_page {
    top: 20%;
    position: absolute;
    height: 80vh;
    width: 100%;
    overflow: auto;
}
.track-card {

    height: 45%;
    left: 10%;
    right: 6%;
    top: 1%;
    width: 80%;
    padding: 1% 1% 1% 1%;
    background-color: #d9d9d9;
    mix-blend-mode: hard-light;
    border-radius: 30px; 
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

.track-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;

}

.track-table thead {
    position: sticky;
    z-index: 0; 
    top: 0;
}


.track-table th,
.track-table td {
    border-bottom: 1px solid #000000;
    text-align: left;
    text-align: center; 
}

.track-table td{
    font-size: 15px;
    font-weight: 100;
    padding: 18px 0px 18px 0px;
}

.track-table th {
    font-weight:700;
}


.track-below{
    display: flex;    
    justify-content: space-between;
}


.track-mainprofile{
    width: calc(100% - 475px);
}
.track-content {
    mix-blend-mode: hard-light;
    margin: auto;
    left: 60%;
    right: 6%;
    top: 50%;
    width: 64%;
    border-radius: 20px;
    border: 1px solid rgba(139, 139, 139, 0.5);
    padding: 1px;
    box-sizing: border-box;
    align-items: center;
    ;
}
.track-details{
    display: flex;
    justify-content: center;
    padding-top: 1px;
}
.track-map{
    background-color: #81C0DC;
    margin-top: 1%;
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.track-access{
    background-color:#d9d9d9;
    border-radius: 10px;
    padding:  1px 1px 1px 1px;
    font-size: 14px;
    overflow-y: auto;
    height: 250px;
    max-height: 250px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.track-access::-webkit-scrollbar {
    display: none;
}
.track-details{
    text-align: left;
}
.track-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.track-table th,
.track-table td {
    padding: 10px;
   
}

.track-table td{
    font-size: 15px;
    font-weight: 100;
    font-family: 'Judson';
    font-style: 'normal';
}

.track-table th {
    font-weight:700;
    font-family: 'Judson';
    font-style: 'normal';
}
.track-al-button{
    padding:8px;
    width: 75px;
    background-color: #BC4E61;
    border-radius: 1px;
    color: white;
    cursor: pointer;
}
.selected {
    background-color: #CFCFCF;
}
.clickempty{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.chkbox{
    padding-top: 10px;
    background-color: red;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .track-main {
       margin-top: 325px;
    }
}