.efficiency_page {
  top: 20%;
  height: 80%;
  position: absolute;
  width: 100%;
}

.vehicle_cards_bar {
  position: absolute;
  padding-top: 6%;
  left: 3%;
  right: 83%;
  align-items: center;
}

.vehicle_cards_text {
  padding-top: 20%;
  text-align: center;
  padding-bottom: 20%;
  justify-content: center;
  font-family: "Judson";
  font-style: normal;
  font-size: 48px;
  display: flex;
  color: white;
}

.vehicle_cards_text :hover {
  cursor: pointer;
  transform: scale(1.1); /* Slight zoom effect on hover */
  filter: brightness(1.2); /* Increase brightness for emphasis */
}

.vehicle_cards_text div.active {
  font-size: 40px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f87a53; /* Dark outline for contrast */
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6); /* Glow effect */
  animation: pulse 1.5s infinite; /* Adds pulsing animation */
}

.vehicle_link {
  text-decoration: none;
  color: white;
}

.eff_card_details {
  position: absolute;
  width: 98%;
  top: 2%;
  height: 95%;
  left: 2%;
  right: 5%;
}
.efficiency_details {
  position: absolute;
  width: 80%;
  height: 90%;
  left: 18%;
  right: 5%;
}

.eff_details {
  position: absolute;
  overflow: auto;
  left: 5%;
  right: 6%;
  top: 3%;
  width: 85%;
  height: 40%;
  background: #d9d9d9;
  mix-blend-mode: hard-light;
  border-radius: 20px;
}

.eff_details::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.e_table_content {
  margin-top: 1%;
  width: 96%;
  margin-left: 2%;
  border-collapse: collapse;
}

.e_table_content thead {
  color: black;
  z-index: 0;
  top: 0;
}

.e_table_content th,
.e_table_content td {
  padding: 10px;
  color: black;
  border-bottom: 1px solid black;
  text-align: center;
}

.e_table_content td {
  font-size: 14px;
  font-weight: 500;
}

.e_table_content th {
  font-size: 16px;
  font-weight: bold;
}

.e_below {
  display: flex;
  position: absolute;
  justify-content: space-between;
  /* right: 6%; */
  top: 2%;
  width: 50%;
  height: 90%;
  background: #d9d9d9;
  mix-blend-mode: hard-light;
  border-radius: 20px;
  box-sizing: border-box;
}

.e_mainprofile {
  width: 100%;
  height: 90%;
}

.e_access {
  margin: 5% auto;
  border-radius: 20px;
  width: 90%;
  height: 70%;
  font-family: "Judson";
  font-style: normal;
  background-color: #14131326;
  mix-blend-mode: hard-light;
  border: 1px solid rgb(9, 9, 9);
  font-size: 14px;
  box-sizing: border-box;
}

.e_details p {
  margin-bottom: 8px;
}

.e_details {
  margin: 20px 10px 0px 20px;
  background: none;
  text-align: left;
}

.e_details span {
  width: 50%;
}

.ef_td_col {
  font-weight: 500;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.align_right {
  margin-left: auto;
}

.click_link {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  justify-content: center;
  font-family: "Judson";
  font-style: normal;
}

.r_details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 20px;
  justify-content: space-between;
  margin: 0% auto;
  padding: 0px 60px 0px 80px;
  width: 100%;
  box-sizing: border-box;
}

.maint {
  padding-bottom: 5px;
  min-width: 150px;
}

.switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7eaeb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #1413135c;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1413135c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1413135c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.alerts {
  background-color: #bc4e61;
  color: white;
  font-size: 16px;
  padding: 8px 13px;
  border: none;
  border-radius: 10px;
  font-family: "Judson";
  font-style: normal;
  margin: 0px auto;
  flex: 1;
  min-width: 100px;
  max-width: 120px;
  box-sizing: border-box;
}

.alerts:hover {
  min-width: 120px;
  max-width: 140px;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
  background-color: #a33e54;
}

.threshold_below {
  position: absolute;
  /* left: 60%; */
  right: 6%;
  top: 2%;
  width: 30%;
  height: 90%;
  background: #d9d9d9;
  mix-blend-mode: hard-light;
  border-radius: 20px;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
}
.below_card_details {
  position: absolute;
  left: 5%;
  right: 6%;
  top: 45%;
  width: 90%;
  height: 68%;
}
.tv {
  font-family: "Judson";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin: 0px auto;
  white-space: nowrap;
}

.threshold_value {
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 60px 0px 80px;
  width: 100%;
  box-sizing: border-box;
}

.t_content {
  box-sizing: border-box;
  width: 100%;
  /* margin-top:28%; */
  height: 80%;
  margin-bottom: 20px;
  padding-bottom: 100px;
}

.thresh_access {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 90%;
  margin: 0px auto;
  width: 80%;
  margin-top: 28%;
}

t_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.t_table th,
.t_table td {
  padding: 10px;
  background-color: #14131326;
  mix-blend-mode: hard-light;
  text-align: left;
  text-align: center;
  border: 1px solid #080101;
}

.table td {
  font-size: 15px;
  font-weight: 100;
}

.table th {
  font-weight: 700;
}
