.main{
    padding-top: 65px;
}
.topcards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
}
.info-bar{
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
}
.info{
    display: flex;
    align-items: center;
    padding: 10px;
}
.info-text{
    font-size: 14px;
    font-weight: lighter;
}
.scard {
    padding: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(139, 139, 139, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scard.active {
    background-color: white;
    transform: scale(1.1) translateZ(10px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.scard-button{
    background: none;
    padding: 25px;
}

.scard-button:hover{
    background: none;
}
.scard-link{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.scard-icon{
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

.scard-text{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

/* .card{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid rgba(139, 139, 139, 0.5);
    overflow: auto; 
} */

.card {
    height: 240px;
    padding: 0px 20px 20px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid rgba(139, 139, 139, 0.5);
    overflow: auto; 
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.table thead {
    position: sticky;
    background-color: white;
    z-index: 0; 
    top: 0;
}


.table th,
.table td {
    padding: 18px;
    border-bottom: 1px solid #8B8B8B;
    text-align: left;
    text-align: center; 
}

.table td{
    font-size: 15px;
    font-weight: 100;
}

.table th {
    font-weight:700;
}
.click{
    color: #4D33EF;
    text-decoration: underline; 
}
.status-image{
    width: 10px;
    height: 10px;
}
.filter-button{
    height: 12px;
    width: 8px;
    padding:8px 0px 0px 5px;
}

.note-ich{
    height: 13px;
    width: 13px;
    font-weight: bolder;
}


/* Media Queries for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
       margin-top: 325px;
    }

    .topcards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .scard {
        margin-bottom: 20px;
    }

    .card {
        height: auto; 
        padding: 20px; 
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        border: 1px solid rgba(139, 139, 139, 0.5);
        overflow: auto; 
        display: -webkit-inline-box;
    }

    .table {
        width: 40%;
        margin: 5px auto;
    }

    .table thead {
        position: sticky;
        background-color: white;
        z-index: 0; 
        top: 0;
    }

    .table th,
    .table td {
        padding: 14px; 
        text-align: center; 
    }

    .table td {
        font-size: 14px;
    }

    .table th {
        font-weight: 700;
    }
}
