.home_page {
    top: 20%;
    position: absolute;
    width: 100%;
    height: 80vh;
    /* background-color: beige; */
}

.info_bar {
    display: flex;
    padding-right: 6%;
    justify-content: right;
}

.info {
    display: flex;
    padding-right: 1%;
    align-items: center;
}

.container {
    height: 70vh;
    top: 40%;
}

.info_text {
    font-size: 20px;
    color: white;
    font-weight: lighter;
}

.cards_bar {
    position: absolute;
    left: 3%;
    right: 83%;
    align-items: center;
}

.cards_text {
    padding-top: 20%;
    padding-bottom: 20%;
    justify-content: center;
    font-family: 'Judson';
    font-style: normal;
    font-size: 48px;
    display: flex;
    color: white;
}

.cards_text :hover {
    cursor: pointer;
}

.cards_text div.active {
    font-size: 60px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.00px;
}

.card_details {
    position: absolute;
    overflow: auto;
    left: 25%;
    right: 6%;
    width: 70%;
    height: 70%;
    background: #D9D9D9;
    mix-blend-mode: hard-light;
    border-radius: 30px;
}

.card_details::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.table_content {
    margin-top: 1%;
    width: 96%;
    margin-left: 2%;
    border-collapse: collapse;
}

.table_content thead {
    color: black;
    z-index: 0;
    top: 0;
}

.table_content th,
.table_content td {
    padding: 10px;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
}

.hovertable:hover {
    color: #ee1f1f;
    cursor: pointer;
}

.table_content td {
    font-size: 15px;
    font-weight: 500;
}

.table_content th {
    font-size: 18px;
    font-weight: bold;
}

.click {
    color: #4D33EF;
    text-decoration: underline;
}

.status_image {
    width: 10px;
    height: 10px;
}

.filter_button {
    height: 12px;
    width: 8px;
    padding: 8px 0px 0px 8px;
}