body {
  background-color: #f2f2f2;
}

.health-card {
  text-align: center;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 50px;
}

.health-table {
  width: 60%;
  margin-left: 80px;
  border-collapse: collapse;
}

.health-table th, .health-table td {
  border: 1px solid #f0f0f0; /* Light grey border color */
  padding: 10px;
}

.alertButton {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.td-purple {
  color: #800080; /* Corrected syntax */
  font-size: 12px;
}

.td-black{
  color: black;
  font-size: 12px;
}
