.efficiency_page {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

.vehicle_cards_bar {
    position: absolute;
    padding-top: 6%;
    left: 3%;
    right: 83%;
    align-items: center;
}

.vehicle_cards_text {
    padding-top: 20%;
    text-align: center;
    padding-bottom: 20%;
    justify-content: center;
    font-family: 'Judson';
    font-style: normal;
    font-size: 48px;
    display: flex;
    color: white;
}

.vehicle_cards_text :hover {
    cursor: pointer;
}

.vehicle_cards_text div.active {
    font-size: 60px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.00px;
}

.vehicle_link {
    text-decoration: none;
    color: white;
}

.efficiency_details {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 18%;
    right: 5%;
}

.eff_details {
    position: absolute;
    overflow: auto;
    left: 5%;
    right: 6%;
    top: 1%;
    width: 90%;
    height: 40%;
    background: #D9D9D9;
    mix-blend-mode: hard-light;
    border-radius: 20px;
}

.eff_details::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

.e_table_content {
    margin-top: 1%;
    width: 96%;
    margin-left: 2%;
    border-collapse: collapse;
}

.e_table_content thead {
    color: black;
    z-index: 0;
    top: 0;
}

.e_table_content th,
.e_table_content td {
    padding: 10px;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
}

.e_table_content td {
    font-size: 14px;
    font-weight: 500;
}

.e_table_content th {
    font-size: 16px;
    font-weight: bold;
}

.e_below {
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 5%;
    right: 6%;
    top: 50%;
    width: 50%;
    height: 55%;
    background: #D9D9D9;
    mix-blend-mode: hard-light;
    border-radius: 20px;
    box-sizing: border-box;
}

.e_mainprofile {
    width: 100%;
    height: 90%;
}

.e_access {
    margin: 5% auto;
    border-radius: 20px;
    width: 90%;
    height: 70%;
    font-family: 'Judson';
    font-style: normal;
    background-color: #14131326;
    mix-blend-mode: hard-light;
    border: 1px solid rgb(9, 9, 9);
    font-size: 14px;
    box-sizing: border-box;
}

.e_details p {
    margin-bottom: 8px;
}

.e_details {
    margin: 20px 10px 0px 20px;
    background: none;
    text-align: left;
}

.e_details span {
    width: 50%;
}

.ef_td_col {
    font-weight: 500;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.align_right {
    margin-left: auto;
}

.click_link {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    justify-content: center;
    font-family: 'Judson';
    font-style: normal;
}

.r_details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 20px;
    justify-content: space-between;
    margin: 0% auto;
    padding: 0px 60px 0px 80px;
    width: 100%;
    box-sizing: border-box;
}

.maint {
    padding-bottom: 5px;
    min-width: 150px;
}

.switch {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E7EAEB;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #1413135c;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1413135c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1413135c;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

.alerts {
    background-color: #BC4E61;
    color: white;
    /* width: 20%; */
    font-size: 16px;
    padding: 8px 13px;
    /* padding: 8px; */
    /* height: 58%; */
    border: none;
    border-radius: 10px;
    font-family: 'Judson';
    font-style: normal;
    margin: 0px auto;
    flex: 1;
    min-width: 100px;
    max-width: 120px;
    box-sizing: border-box;
}

.alerts:hover {
    min-width: 120px;
    max-width: 140px;
    font-weight: bold;
    /* width: 15%; */
    font-size: 19px;
    background-color: #A33E54;
    /* height: 10%; */
}

.threshold_below {
    position: absolute;
    left: 60%;
    right: 6%;
    top: 50%;
    width: 30%;
    height: 55%;
    background: #D9D9D9;
    mix-blend-mode: hard-light;
    border-radius: 20px;
    box-sizing: border-box;
    align-items: center;
    padding:10px;
}

.tv {
    /* text-align: center; */
    font-family: 'Judson';
    font-style: normal;
    /* align-items: center; */
    /* height: 10%; */
    font-weight: 600;
    font-size: 18px;
    margin: 0px auto;
    /* background-color: aqua; */
    /* margin: 0px auto; */
    /* background-color: #A33E54; */
    white-space: nowrap;
    /* padding: 0px auto;  */
    /* margin-bottom: 20px;  */
    /* align-items: center;  */
    /* width: 100%; */
    /* box-sizing: border-box; */
}
.threshold_value{
    /* text-align: center; */
    /* display: inline; */
    height: 10%;
    /* background-color: #A33E54; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    /* padding: 0px 20px; */
    padding: 0px 60px 0px 80px;
    width: 100%;
    box-sizing: border-box;
}

.t_content {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding-bottom: 100px;
    /* background-color: #A33E54; */
}

.thresh_access{
    /* border-radius: 10px; */
    /* width:100%; */
    display: flex;
    justify-content: center;
    align-items: center; 
    /* position: absolute; */
    font-size: 14px;
    height: 90%;
    margin: 0px auto;
    /* background-color: #14131326;
    mix-blend-mode: hard-light; */
    /* border: 1px solid rgb(9, 9, 9); */
    /* display: flex; */
    /* gap: 10px; */
    /* padding: 0px 20px; */
    /* justify-content: space-between; */
    /* padding: 0px 0px 0px 80px; */
    width: 80%;
    /* box-sizing: border-box; */
    /* margin-top: 38px; */
    /* overflow-y: auto; */
    /* max-height: 80%; */
    /* scrollbar-width: none; */
    /* -ms-overflow-style: none; */

}

.t_access::-webkit-scrollbar {
    display: none;
}

t_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.t_table th,
.t_table td {
    padding: 10px;
    background-color: #14131326;
    mix-blend-mode: hard-light;
    text-align: left;
    text-align: center; 
    border: 1px solid #080101;
}

.table td{
    font-size: 15px;
   
    font-weight: 100;
}

.table th {
    font-weight:700;
}