.usage_page {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
    /* background-color: beige; */
}

.vehicle_cards_bar {
    position: absolute;
    padding-top: 6%;
    left: 3%;
    right: 83%;
    align-items: center;
}

.vehicle_cards_text {
    padding-top: 20%;
    text-align: center;
    padding-bottom: 20%;
    justify-content: center;
    font-family: 'Judson';
    font-style: normal;
    font-size: 48px;
    display: flex;
    color: white;
}

.vehicle_cards_text :hover {
    cursor: pointer;
}

.vehicle_cards_text div.active {
    font-size: 60px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2.00px;
}

.vehicle_cards_bar hr {
    width: 220px;
}


.vehicle_card_details {
    position: absolute;
    left: 25%;
    right: 6%;
    top: 11%;
    width: 70%;
    height: 32vh;
    /* background-color: aqua; */
    background: #D9D9D9;
    mix-blend-mode: hard-light;
    border-radius: 30px;
}

.usage_details {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 18%;
    right: 5%;
}

.vehicle_table_content {
    margin-top: 1%;
    width: 96%;
    margin-left: 2%;
    border-collapse: collapse;
}

.u_topcards {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    margin-bottom: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.u_scard {
    background: #D9D9D9;
    mix-blend-mode: hard-light;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    border: 1px solid rgba(44, 43, 43, 0.5);
}

.u_scard.active {
    background-color: #242F40;
}

.u_scard.active .u_scard_text {
    color: white;
}

.u_scard.active .u_scard_icon {
    filter: none;
}

.u_scard_button {
    background: none;
    padding: 12px;
}

.u_scard_button:hover {
    background: none;
}

.u_scard_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.u_scard_icon {
    width: 25px;
    height: 20px;
    margin-right: 10px;
    filter: grayscale(100%) invert(100%);
}

.u_scard_text {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: 'Judson';
    font-style: normal;
}