name: Deploy to AWS ECS

on:
  push:
    branches:
      - main  # Trigger deployment on push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up AWS CL
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_A }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_A }}
          aws-region: us-east-1

      - name: Log in to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 264427725539.dkr.ecr.us-east-1.amazonaws.com
      - name: Build and push frontend Docker image
        run: |
          docker build -t myecr-repo .
          docker tag myecr-repo:latest 264427725539.dkr.ecr.us-east-1.amazonaws.com/myecr-repo:latest
          docker push 264427725539.dkr.ecr.us-east-1.amazonaws.com/myecr-repo:latest

      - name: Deploy to EC2
        run: |
          echo "${{ secrets.AWS_NEW_SSH_KEY }}" > aws-ec2-key.pem
          chmod 600 aws-ec2-key.pem
          ssh -o StrictHostKeyChecking=no -i aws-ec2-key.pem ubuntu@3.91.228.87 << 'EOF'
            export AWS_REGION=us-east-1 && \
            aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 264427725539.dkr.ecr.us-east-1.amazonaws.com && \
            docker images | grep '264427725539.dkr.ecr.us-east-1.amazonaws.com/myecr-repo' | awk '{print $3}' | xargs -r docker rmi
            docker pull 264427725539.dkr.ecr.us-east-1.amazonaws.com/myecr-repo:latest && \
            docker ps | grep '5173' | awk '{print $1}' | xargs -r docker stop
            docker ps -q -f ancestor=264427725539.dkr.ecr.us-east-1.amazonaws.com/myecr-repo:latest | xargs -r docker stop | xargs -r docker rm && \
            docker run -d -p 80:80 -p 3000:3000 -p 5173:5173 264427725539.dkr.ecr.us-east-1.amazonaws.com/myecr-repo:latest
          EOF
